main h2 {
  font-weight: 800;
  text-align: center;
}

main {
  margin-top: 154px;
  max-width: 100vw;
  padding: 80px;
}

#why-web-development-description p {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

#why-web-development-description {
  max-width: 852px;
  margin: 0 auto;
}

.card-1 {
  padding: 48px;
  max-height: 336px;
}

.card-title {
  color: #0d1321b3;
  width: 390px;
  font-size: 24px;
}

.card-description {
  color: #0d1321;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  max-width: 468px;
}

.card-1 {
  display: flex;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-1 > div > a {
  text-decoration: none;
  color: #0d1321;
  padding: 12px 20px;
  border: 1px solid #0d1321;
  margin-top: 64px;
  position: relative;
  top: 52px;
}

#card-2 {
  flex-direction: row-reverse;
}
